{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans le theme {{ theme.title }}</h1>
    <span>Ce theme contient {{ val }} discussions</span>
    {% for discussion in theme.discussions %}
        <h6>{{ discussion.title}}</h6>
        <span>Ecrit le {{ discussion.createdAt | date}}</span>
        <div class="container p-3 my-3 bg-dark text-white">{{ discussion.content | raw}}</div><a href="{{ path('show_forum',{'id':discussion.id}) }}" class="btn btn-primary">lire la suite</a>
    {% endfor %}
{% endblock %}